CMakeLists.txt.user
/Build/
/Debug/
/Release/
/zRel/
/CleanBuild/
.cproject
.project
Source/Plugins/MFESurfaceSmoothing
Source/Plugins/CMUSurfaceMeshing
/clang/
/xcode/
/x64/
/i386/
/qtcreator/
/Qt510/
Support/WorkshopData
Support/SmallIN100
/Build2/
/QT_BUILD/
Support/TestData
/qt5/
Support/Scripts/GMT/gmt.history
.settings
.foo
/ninja/
/MSVC/
/VS2015/
/VS2017/
/.vscode/
