CMakeLists.txt.user
.cproject
.project
.settings
.foo
/.vscode/

/Build/
/Debug/
/Release/
/zRel/
/qt599_itk4_release/

/clang/
/xcode/
/x64/
/i386/
/qtcreator/

/ninja/
/MSVC/
/VS2015/
/VS2017/
/VS2019/

/*-debug/
/*-release/

/build/

CMakeUserPresets.json
